@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: #666;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 5rem;
}

:root {
  --box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
  --border: 1rem solid #fff;
  --grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  --red: #ff3838;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  padding: 2rem 9%;
  background: rgb(255, 255, 255);
  box-shadow: var(--box-shadow);
}

.header .logo a {
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(102, 102, 102);
  text-transform: capitalize;
}

.header .logo a i {
  color: var(--red);
}

.nav a {
  font-size: 2rem;
  text-transform: capitalize;
  margin-left: 2rem;
  color: rgb(102, 102, 102);
}

/* end header */

section {
  padding: 2rem 9%;
}

/* start home */

.home {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  gap: 1.5rem;
  background: url(../imagefood/home-bg.jpg) center center / cover no-repeat;
  background-position: center center;
}

.content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.content h3 {
  font-size: 5rem;
  color: #333;
  text-transform: capitalize;
}

.content p {
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #666;
  text-transform: capitalize;
}

.home-img {
  flex: 1 1 40rem;
  width: 60rem;
}

.home-img img {
  width: 100%;
  padding: 1rem;
  animation: 3s linear 0s infinite normal none running float;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--red);
  color: red;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 0.5rem;
  margin-top: 1rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
  font-size: 1.7rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--red);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

/* end home */

/* start speciality */

.heading {
  font-size: 3.5rem;
  padding: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #666;
}

.heading span {
  color: var(--red);
}

.speciality .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.speciality .container .box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.1rem solid #fff;
}

.speciality .container .box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.speciality .container .box .content {
  text-align: center;
  padding: 2rem;
}

.speciality .container .box .content img {
  margin: 1.5rem 0;
}

.speciality .container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.speciality .container .box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.speciality .container .box:hover .image {
  top: 0;
  /* hình ảnh sẽ đi xuống */
}

.speciality .container .box:hover .content {
  transform: translateY(100%);
  /* content nó sẽ đi xuống */
}

/* end speciality */

/* start popular */

.popular .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.popular .container .box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  cursor: pointer;
  border-radius: 0.5rem;
  border: var(--border);
  text-align: center;
}

.popular .container .box .price {
  position: absolute;
  left: 3rem;
  top: 3rem;
  background: var(--red);
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.popular .container .box img {
  object-fit: cover;
  height: 25rem;
  width: 100%;
  border-radius: 0.5rem;
}

.popular .container .box h3 {
  font-size: 2.5rem;
  color: #333;
  padding-top: 1rem;
  text-transform: capitalize;
}

.stars i {
  font-size: 1.7rem;
  color: gold;
  padding: 1rem 0.1rem;
}

/* end popular */

/* star work */

.work-container {
  display: flex;
  justify-content: space-between;
}

.work-container .box {
  text-align: center;
  padding: 1rem;
  flex: 1 1 25rem;
}

.work-container .box img {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  border: 1rem solid #fff;
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

.work-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem;
  color: rgb(51, 51, 51);
  text-transform: capitalize;
}

/* end work */

/* start gallery */

.gallery .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .container .box {
  flex: 1 1 30rem;
  height: 25rem;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1rem solid #fff;
}

.gallery .container .box img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.gallery .container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  /* padding-top: 5rem; */
}

.gallery .container .box:hover .content {
  top: 0;
}

.gallery .container .box:hover img {
  transform: translateY(100%);
}

.gallery .container .box .content h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.gallery .container .box .content p {
  font-size: 1.5rem;
}

/* end gallery */

/* start review  */

.review .container {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.review .container .box {
  flex: 1 1 30rem;
  text-align: center;
  border: 1rem solid #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  background: #333;
  margin-top: 6rem;
  padding: 2rem;
}

.review .container .box img {
  height: 12rem;
  width: 12rem;
  border: var(--border);
  border-radius: 50%;
  margin-top: -8rem;
  object-fit: cover;
}

.review .container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  text-transform: capitalize;
  padding: 0.5rem 0;
}

.review .container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 1rem;
}

/* end review */

/* start order */

.order .container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.order .container .image {
  flex: 1 1 30rem;
}

.order .container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.order .container .content {
  padding: 1rem;
  flex: 1 1 30rem;
}

.order .container .content .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .container .content .input-box input {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #333;
  border-radius: 0.5rem;
  width: 49%;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.order .container .content textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: #333;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

/* end order */

/* start footer */

.footer {
  background: #000;
  text-align: center;
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .links a {
  margin-top: 1.5rem;
}

.footer .credit {
  padding: 2.5rem 1rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: capitalize;
}

.footer .credit span {
  color: #ff3838;
}

/* end footer */

#scroll-top {
  position: fixed;
  right: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 4rem;
  background: var(--red);
  color: #fff;
  top: -120%;
  z-index: 1000;
  transition: 1s linear;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

#btn-nav {
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid #666;
  border-radius: 0.5rem;
  display: none;
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: #f7f7f7;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transform: scaleY(0);
  }

  .nav.active {
    transform: scaleY(1);
  }

  #btn-nav {
    display: flex;
  }

  .nav a {
    display: block;
    background: #fff;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid var(--red);
    box-shadow: var(--box-shadow);
  }

  .nav a:hover {
    background: #ff3838;
    color: #000;
    border-left: 0.5rem solid #fff;
  }

  .work-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .work-container .box img {
    width: 18rem;
  }

  .work-container .box h3 {
    font-size: 1.7rem;
  }

  .btn {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    align-items: center;
  }

  .heading {
    font-size: 2.7rem;
  }

  .footer .links a {
    width: 29%;
  }
  .footer .credit {
    font-size: 1.7rem;
  }

  .content h3 {
    font-size: 3.5rem;
  }

  .content p {
    font-size: 1.3rem;
  }

  .speciality .container .box .content h3 {
    font-size: 2rem;
  }

  .speciality .container .box .content p {
    font-size: 1.3rem;
  }

  .popular .container .box h3 {
    font-size: 2rem;
  }

  .stars i {
    font-size: 1.3rem;
  }
}
